* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    min-width: 28rem;
}

a {
    color: #000;
}

h1,
h2 {
    color: crimson;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 1rem 2.4rem;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: .5rem;
}

.container .header-flex {
    display: flex;
    height: 15rem;
    margin-top: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #65af3c;
}

.container .content,
.container .contact-info,
.container .personal-summary .container .personal-summary,
.container .code-examples {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h2 {
    text-align: center;
    margin: 20px 0;
}

.container li {
    margin: 20px 0;
}

.container pre {
    margin-right: 10vw;
}

.container p {
    text-align: center;
    margin-top: 30px;
}
